/* pt-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
/* playfair-display-700 - latin_cyrillic */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/playfair-display-v22-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/playfair-display-v22-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/playfair-display-v22-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/playfair-display-v22-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/playfair-display-v22-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/playfair-display-v22-latin_cyrillic-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Post No Bills Jaffna Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Bold'), url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}

.font-Playfair-Display{
    font-family: 'Playfair Display', serif;
}

.font-PT-Sans{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

/*.font-Post-No-Bills-Jaffna{
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: 700;
}
*/
.font_transform_uppercase{
    text-transform: uppercase;
}

.font_size_small{
    font-size: 12px;
}

.font_size_medium{
    font-size: 14px;
}

.font_size_super-medium{
    font-size: 16px;
}

.font_size_big{
    font-size: 18px;
}

.font_size_super-big{
    font-size: 24px;
}

.font_line-height_small{
    line-height: 21px;
}

.font_line-height_medium{
    line-height: 24px;
}

/*.font__size_large{
    font-size: 36px;
}
*/
.font_size_super-large{
    font-size: 64px;
}

/*.font_color_gray{
    color: #969696;
}*/
