.footer-content{
    background-image: url('../../img/footer-background.png');
    background-size: cover;
    min-height: 400px;
    background-position: center;
}

.footer-shop_position{
    padding-top: 80px;
    justify-content: space-between;
    padding-bottom: 100px;
}

@media (max-width: 720px){
    .footer-shop_position{
        justify-content: center;
    }
}