.our-brand{
    background-color: #0F0F0F;
}

.our-brand__brands{
    display: flex;
    padding-top: 60px;
    padding-bottom: 80px;
}

.our-brand__brands-img{
    padding: 9px;
}

.our-brand__slider{
    display: none;       
}

.our-brand__brands-img > img{
    width: 100%;
    height: 100%;
}

@media (max-width: 769px){
    .our-brand__brands{
        display: none;
    }

    .our-brand__slider{
        display: flex;
        padding-top: 60px;
        padding-bottom: 80px;
        text-align: center;
        max-width: 320px;
        margin: auto;
    }
}