.first-screen{
    background-image: url('../../img/first-screen.png');
    background-size: cover;
    text-align: center;
    background-position: center;
}

.first-screen__logo{
    padding-top: 160px;
    padding-bottom: 80px;
}

.first-screen__text{
    max-width: 730px;
    text-align: center;
    margin: auto;
    padding-bottom: 160px;
}

@media (max-width: 769px){
    .first-screen__text{
        padding-left: 25px;
        padding-right: 25px;
    }
}